*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 80px;
    background: linear-gradient(rgba(0, 102, 255, 0.5),rgba(25, 221, 255, 0.5));
    backdrop-filter: blur(10px);
    box-shadow: 0 7px 10px rgba(0,0,0,0.3);
    z-index: 9998;
}
nav img{
    margin-left: 10px;
    margin-right: auto;
}
nav img:hover{
    animation: logo 0.5s infinite;
}
@keyframes logo{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
    }
}
nav > a{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    color: white;
    transition: 0.4s;
}
nav > a:hover{
    transition: 0.4s;
    padding-right: 50px;
    padding-left: 50px;
}
#current{
    color: rgb(106, 255, 230);
}
body{
    background: linear-gradient(rgb(0, 102, 255),rgb(0, 12, 80));
}
#preloader{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 30px;
    background: black;
    position: fixed;
    z-index: 9999;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: white;
}
.textBlock{
    margin: 100px;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    width: 70%;
    color: white;
    background: linear-gradient(rgb(0, 153, 255),rgb(0, 89, 148));
    box-shadow: 0 7px 10px rgba(0,0,0,0.3);
    font-size: 20px;
    border-radius: 50px;
}
.textBlock a{
    margin: 10px;
    padding: 15px;
    color: white;
    background-image: url("../Images/UI/Button.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    font-size: 20px;
    font-family: 'Franklin Gothic Demi', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0 2px 5px rgb(2, 0, 109);
    transition: all 0.4s;
}
.textBlock a:hover{
    padding: 15px;
    color: white;
    border-radius: 50px;
    background-image: url("../Images/UI/ButtonHover.png");
    box-shadow: 0 2px 15px rgb(2, 0, 109);
    font-size: 20px;
}
.textBlock h3{
    margin: 10px;
}
.textBlock p{
    margin: 10px;
}
#products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.product{
    margin: 50px;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    background: linear-gradient(rgb(0, 153, 255),rgb(0, 89, 148));
    box-shadow: 0 2px 5px rgb(2, 0, 109);
    border-radius: 50px;
    transition: all 0.8s;
}
.product:hover{
    transform: scale(1.1);
    background: linear-gradient(rgb(55, 175, 255),rgb(0, 64, 107));
}
.product img{
    border-radius: 50px;
}
.product h4{
    margin: 10px;
}
.product p{
    margin: 10px;
}
.screen{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    color: white;
}
.screen div{
    position: absolute;
}
.screen h3{
    font-size: 70px;
    top: 50%;
    text-shadow: 0 0 5px black;
}
.screen p{
    font-size: 30px;
    text-shadow: 0 0 5px black;
}
.screen img, video{
    width: 100%;
    height: 100%;
    filter: brightness(0.7);
    z-index: -1;
}
.bubble{
    position: absolute;
    z-index: 3;
}
.popupBG{
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(rgba(4, 0, 253, 0.5),rgba(0, 126, 245, 0.5));
    backdrop-filter: blur(20px);
    display: none;
}
.popup{
    top: 35%;
    left: 35%;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: fixed;
    width: 30%;
    color: white;
    background: linear-gradient(rgb(0, 153, 255),rgb(0, 89, 148));
    box-shadow: 0 7px 10px rgba(0,0,0,0.3);
    border-radius: 20px;
}
.popup h3{
    margin-top: 20px;
    font-size: 30px;
}
.popup > input{
    margin: 10px;
    padding: 10px;
    color: white;
    border: none;
    box-shadow: 0 7px 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    font-size: 20px;
}
.popup > input[type="text"]{
    width: 70%;
    background: linear-gradient(rgb(0, 102, 255),rgb(0, 12, 80));
}
.close{
    padding: 6px 10px 6px 10px;
    position: absolute;
    top: 0.01px;
    right: 1px;
    background: linear-gradient(rgb(201, 0, 0),rgb(105, 0, 0));
}
.close:hover{
    background: linear-gradient(rgb(105, 0, 0),rgb(201, 0, 0));
}
#buyPopup{
    background-image: url("../Images/UI/Button.png");
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.4s;
}
#buyPopup:hover{
    background-image: url("../Images/UI/ButtonHover.png");
}
#Aqua{
    position: absolute;
    left: 40%;
    top: 15%;
    z-index: -1;
}
footer{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-image: url("../Images/UI/Footer.png");
    background-size: contain;
    z-index: 9999;
}
footer div{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
footer a{
    transition: all 0.4s;
}
footer a:hover{
    filter: brightness(1.2);
}
footer a{
    color: rgb(61, 40, 0);
    font-family: Comic Sans MS, sans-serif;
}
#background-wrap {
    bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
}

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@-moz-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

/* ANIMATIONS */

.x1 {
    -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: -5%;
	top: 5%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x2 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 5%;
	top: 80%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x3 {
    -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 10%;
	top: 40%;
	
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	transform: scale(0.7);
}

.x4 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 20%;
	top: 0;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x5 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 30%;
	top: 50%;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x6 {
    -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 50%;
	top: 0;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
}

.x7 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 65%;
	top: 70%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x8 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 80%;
	top: 10%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x9 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 90%;
	top: 50%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x10 {
    -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 80%;
	top: 80%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

/* OBJECTS */

.bubble {
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	
    height: 200px;
	position: absolute;
	width: 200px;
}

.bubble:after {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(70%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	
	content: "";
    height: 180px;
	left: 10px;
	position: absolute;
	width: 180px;
}